.ChatBox {
    background-color: white;
    border-radius: 5px;
    flex: 0 0 24%;
    border: 1px solid $dark-blue-color;
    @media screen and (max-width: 1000px) {
        flex: 0 0 30%;
    }
    @media screen and (max-width: 767px) {
        flex: 0 0 90%;
    }
    .head {
        border-bottom: 1px solid $grey-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 9px;
        h3 {
            margin: 0
        }
        button {
            background-color: $dark-blue-color;
            border-radius: 12px;
            color: white;
            text-transform: uppercase;
            padding: 5px 8px;
            width: 60px;
            border: none;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .friends {
        .friend {
            cursor: pointer;
            padding: 10px 9px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
                background-color: $grey-color !important;
            }
            .img-details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                    border-radius: 50%;
                }
                .imageGroup {
                    position: relative;
                    img {
                        border-radius: 50%;
                        position: absolute;
                        border: 1px solid white;
                        &:first-child {
                            top: -9px;
                            left: -29px;
                        }
                        &:last-child {
                            right: 7px;
                            bottom: -7px;
                        }
                    }
                }
                .name-latestMsg {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 4px;
                    p {
                        margin: 0;
                        color: black;
                        &.first-last {
                            font-size: 18px;
                            font-weight: bold;
                        }
                        &.latest {
                            font-size: 14px;
                        }
                    }
                }
            }
            span.online-offline {
                min-width: 10px;
                height: 10px;
                display: inline-block;
                background-color: red;
                border-radius: 50%;
            }
        }
    }
}