.messagesParent {
    flex: 1;
    padding: 2px 0;
    max-height: 71vh;
    overflow-y: auto;
    .nomessage {
        text-align: center;
        margin-top: 10px;
    }
    .fetcherrormsg {
        text-align: center;
        margin-top: 20px;
        color: red;
    }
}