.Home {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    min-height: 85vh;
    @media screen and (max-width: 767px) {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}