@import "shared/_var.scss";
@import "components/navbar.scss";
@import "auth.scss";
@import "components/authForm.scss";
@import "homepage.scss";
@import "components/UpdateProfileModal.scss";
@import "components/ChatBox.scss";
@import 'emoji-mart/css/emoji-mart.css';
@import "components/messenger.scss";
@import "components/messenger-head.scss";
@import "components/messenger-messages.scss";
@import "components/messenger-chatInput.scss";
@import "components/message-item.scss";
@import "components/addUsersModal.scss";
@import "components/userSearchList.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  background-color: $grey-color;
}

main {
  padding: 0 25px;
  @media screen and (max-width: 450px) {
    padding: 0 10px;
  }
}

* {
  box-sizing: border-box;
}
